{% extends 'base.html.twig' %}

{% block title %}La Boutique Française{% endblock %}

{% block content %}

    <h1> Gérerune adresse</h1>
    <a href = {{ path('account_adresse') }}  >Retourner à mon compte</a><br>
    Bienvenue {{app.user.firstname}}.<br>
    Vous pouvez rajouter une adresse<br>
    <hr>
    {{ form_start(form) }}
   <div class ="row">
       <div class ="col-md-12">
           {{ form_row(form.name) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.firstname) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.lastname) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.Company) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.adresse) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.postal) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.City) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.Land) }}
       </div>
       <div class ="col-md-6">
           {{ form_row(form.Phone) }}
       </div>
       <div class ="col-md-12">
           {{ form_row(form.submit) }}
       </div>
   </div>

    {{ form_end(form) }}
    <a  href = {{ path('account') }} >Retourner à mon compte</a>

{% endblock %}